.contact {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
      linear-gradient(
        to right,
        rgba($primary-color, 0.3),
        rgba($primary-color, 0.9)
      ),
      url('https://source.unsplash.com/random/1920×1280/?contact_me') center top;
    background-size: cover;
  
    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  
    &_list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      font-size: 1.5rem;
    }
  
    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
  }